.fadeInDown {
   -webkit-animation-name: fadeInDown;
   animation-name: fadeInDown;
}

@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-208px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
} 

.fadeInLeft {
   -webkit-animation-name: fadeInLeft;
   animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
   0% {
      opacity: 0;
      transform: translateX(-208px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
} 