/*
Clases Básicas Reutilizables
*/

.u-orient{
	align-content: center;
	display: flex;
	justify-content: center
}

.u-orient-center{
	align-items: center;
	display: flex;
	justify-content: center
}

.u-img{
	width: 100%;
	height: 100%
}

.u-icon{
	width: 32px;
	height: 32px
}

.u-nav-icon{
	width: 30px;
	height: 30px;
	padding-right: 12px
}

.u-icon-16{
	width: 16px;
	height: 16px
}

.u-width{
	padding: 16px;
	max-width: 288px;
	min-height: 142px
}

.u-box{
	padding: 16px;
	min-width: 288px
}

.u-relleno{
	padding: 16px
}

.u-visible{
	display: block !important
}

.u-hidden {
	display: none !important
}

@media (--cellphone){
	.u-box{
		min-width: calc(100% - 32px)
	}
}

/*Padding de cada una de las sesiones*/
.u-spacing{
	padding: 48px 0
}

/*Tamaño maximo que puede tener el espaciado de la pagina*/
.u-wrap{
	max-width: 1280px
}

@media (--cellphone){
	.u-wrap{
		max-width: 640px
	}
	.u-spacing{
		padding: 16px 0
	}
	.u-width{
		min-height: auto
	}
}

@media (min-width: 768px) and (max-width: 1439px){
	.u-wrap{
		max-width: 94%
	}
}

@media (min-width: 1560px){
	.u-wrap{
		max-width: 1440px
	}
}