#contact{
	background-color: #F9F9F9;
	width: 100%;
	min-height: 224px
}

#wcontact{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap
}

#wcontact .title{
	width: 100%;
	padding: 16px
}

#wcontact .title h2{
	@mixin font-design 600, 18px, 20px, 16px;
	letter-spacing: -0.6px
}

#wcontact .info{
	display: flex;
	flex-wrap: wrap
}

#wcontact .info .info-text > div{
	margin-bottom: 16px
}

#wcontact .info .info-text > div:last-child{
	margin-bottom: 0
}

#wcontact h3.subtitle{
	@mixin font-design 500, 13px, 15px, 26px;
	letter-spacing: -0.2px
}

#wcontact p.text{
	@mixin font-design 400, 13px, 13px, var(--line)
}

#wcontact .info-map #map{
	margin-top: 16px;
	width: 288px;
	min-width: 288px;
	height: 178px;
	max-height: 178px
}

#wcontact .form{
	width: calc(100% - 896px);
	max-width: 388px
}

#wcontact .form #contact-form {
	margin-top: 16px
}

#wcontact .form .form-campo{
	margin-bottom: 16px;
	display: flex;
	flex-direction: column
}

#wcontact .form .form-campo label{
	@mixin font-design 500, 14px, 14px, 24px
}

#wcontact .form .form-campo input,
#wcontact .form .form-campo textarea{
	background-color: transparent;
	font-weight: 500;
	height: 24px;
	margin-top: 4px;
	border-bottom: 0.12em solid var(--bg-dark-o);
	width: 100%
}

#wcontact .form .form-campo input:focus,
#wcontact .form .form-campo textarea:focus{
	color: var(--bg-dark);
	border-bottom: 0.12em solid var(--bg-dark);
}

#wcontact .form #btn-send{
	background-color: var(--bg-basecolor);
	border-radius: 2px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	letter-spacing: 0.2px;
	color: #FFF;
	height: 38px;
	width: 132px;
}

#wcontact .form #btn-send:hover,
#wcontact .form #btn-send:focus{
	background-color: var(--bg-hovercolor);
}

#footer{
	background-color: var(--bg-menu);
	width: 100%;
	min-height: 224px
}

#wfooter{
	width: 100%;
	height: auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	color: #FFF
}

#wfooter p{
	@mixin font-design 400, 12px, 13px, var(--line)
}

#wfooter h3{
	@mixin font-design 600, 13px, 15px, var(--line)
}

#wfooter .info-logo{
	width: 56px;
	height: 56px;
	margin-bottom: 16px
}

#wfooter .links-nav{
	margin-top: 16px
}

#wfooter .links-nav li{
	margin-bottom: 10px
}

#wfooter .links-nav li a{
	@mixin font-design 400, 12px, 13px, 18px
}

#wfooter .links-nav li a:hover{
	text-decoration: underline
}

#wfooter .social-nav{
	margin-top: 16px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}

#wfooter .social-nav li{
	margin-right: 16px;
	margin-bottom: 16px
}

#wfooter .social-nav li a{
	width: 32px;
	height: 32px
}

#copywrite{
	background-color: var(--bg-submenu);
	height: 48px
}

#copywrite h6{
	color: #FFF;
	@mixin font-design 400, 12px, 14px, 48px
}

@media(--c-s){
	#footer{
		height: auto;
		min-height: auto
	}
	#wfooter{
		justify-content: flex-start
	}
	#wfooter .info,
	#wfooter .links,
	#wfooter .social{
		height: auto;
		min-height: auto
	}
}

@media(--cellphone){
	#wcontact .info-map.u-box{
		padding-top: 0
	}
	#wcontact .info-map.u-box{
		padding-top: 0
	}
	#wcontact .info-map #map{
		background-color: #e8e8e8;
		width: 100%
	}
	#wcontact .form{
		width: calc(100% - 32px)
	}
	#wfooter .info,
	#wfooter .social{
		width: calc(100% - 32px);
		max-width: 100%
	}
	#wfooter .links{
		width: calc(50% - 32px)
	}
}

@media(--tablet){
	#wfooter .info{
		width: calc(45% - 32px);
		max-width: 100%
	}
	#wfooter .links{
		width: calc(27.5% - 32px)
	}

	#wfooter .social{
		min-width: calc(100% - 32px)
	}
}

@media (--tablet-f){
	#wcontact .info > div {
		max-width: 288px;
	}
}

@media (--small-desktop){
	#wfooter .info,
	#wfooter .social{
		width: calc(37.5% - 32px)
	}
	#wfooter .links{
		width: calc(16.66% - 32px)
	}
}