/*Funcion para texto Responsivo y definicion de Weight
size1 => Tamaño mas pequeño que puede tomar la fuente
size2 => Tamaño mas grande que puede tomar la fuente
*/
@define-mixin font-design $strong, $size1, $size2, $lineh {
	font-weight: $(strong);
	font-size: responsive $(size1) $(size2);
	line-height: $(lineh);
}