#header {
	background-color: var(--bg-menu);
	height: auto
}

#wheader {
	width: 100%
}

#winfomenu {
	width: calc(100% - 32px);
	height: auto;
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap
}

#winfomenu #wlogo,
#winfomenu #wbar,
#winfomenu #wmenu,
#winfomenu #wmenu nav {
	height: 56px
}

#winfomenu #wlogo {
	width: 56px
}

#winfomenu #wbar,
#winfomenu #wbinfo {
	position: absolute;
	top: -96px;
	width: 48px
}

#winfomenu #wbar {
	justify-content: flex-end
}

#winfomenu #wbar a {
	width: 12px;
	height: 28px
}

#winfomenu #wbinfo {
	justify-content: flex-start
}

@media(--cellphone){
	#winfomenu #wbar,
	#winfomenu #wbinfo {
		position: static
	}
}

#winfomenu #wmenu.collapse,
#wnav.collapse {
	position: static
}

#winfomenu #wmenu.collapse {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-name: fadeInDown
}

#wnav.collapse {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-name: fadeInLeft
}

#winfomenu #wmenu nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media(--cellphone){
	#winfomenu #wmenu {
		position: absolute;
		left: 0;
		top: -208px;
		margin-bottom: 16px;
		margin-top: -8px;
		order: 1
	}
	#winfomenu #wbinfo {
		order: 2
	}
	#winfomenu #wlogo {
		order: 3
	}
	#winfomenu #wbar {
		order: 4
	}
	#winfomenu #wmenu,
	#winfomenu #wmenu nav {
		height: auto;
		width: 100%
	}
	#winfomenu #wmenu nav li {
		width: 100%;
		margin-right: 0;
		height: 48px
	}
	#winfomenu #wmenu #wsearch {
		height: 40px
	}
	#winfomenu #wmenu nav li a,
	#winfomenu #wmenu #wsearch {
		justify-content: flex-start;
		padding: 0
	}
}

#winfomenu #wmenu nav li {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 8px;
	height: 32px
}

#winfomenu #wmenu nav li a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 8px;
	@mixin font-design 400, 12px, 13px, var(--line);
	color: #FFF
}

#winfomenu #wmenu nav li a:hover,
#winfomenu #wmenu nav li a:focus{
	text-decoration: underline
}

#winfomenu #wmenu #wsearch {
	background-color: rgba(0,0,0,0.16);
	height: 32px;
	min-width: 192px;
	border-radius: 2px;
	display: flex;
	flex-direction: row;
	align-content: center;
}

#winfomenu #wmenu #wsearch .u-icon-16{
	padding-left: 8px
}

#winfomenu #wmenu #wsearch form{
	padding: 8px;
	width: calc(100% - 28px)
}

#winfomenu #wmenu #wsearch form input{
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	width: 100%
}

#winfomenu #wmenu #wsearch form input:-ms-input-placeholder { color: white; } 
#winfomenu #wmenu #wsearch form input::-webkit-input-placeholder { color: white; }
#winfomenu #wmenu #wsearch form input::-moz-placeholder { color: white; }

@media(--cellphone){
	#winfomenu #wmenu #wsearch{
		width: 100%;
		min-width: 280px
	}
}

#hero,
#whero{
	background-color: var(--bg-submenu);
	width: 100%
}

#wnav {
	width: 100%;
    height: auto
}

#wnav > nav {
    height: 100%;
    display: flex;
    flex-wrap: wrap
}

#wnav nav > li {
    position: relative;
    float: left;
    flex-grow: 1;
    height: 56px;
    min-width: 180px;
    max-width: 25%;
    @mixin font-design 500, 12px, 13px, 14px;
	color: #FFF
}

#wnav nav li a {
    justify-content: flex-start;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    min-width: calc(100% - 32px);
    max-width: calc(100% - 32px)
}

#wnav li a:hover,
#wnav li a:focus {
    background-color: var(--bg-hovercolor-menu)
}

#wnav nav li ul.sub-menu {
	background-color: var(--bg-hovercolor-menu);
	position: relative;
	z-index: 99;
	display: none;
}

#wnav nav li ul.sub-menu > li{
	background-color: var(--bg-hovercolor-menu);
	height: 56px
}

#wnav nav li:hover ul.sub-menu,
#wnav nav li:focus ul.sub-menu{
	display: block
}

#wnav nav li ul.sub-menu li {
	max-width: 100%;
	min-width: 100%
}

#wnav nav li ul.sub-menu li a:hover,
#wnav nav li ul.sub-menu li a:focus{
	background-color: var(--bg-hovercolor-submenu)
}

@media (--cellphone){
	#wheader.u-wrap,
	#whero.u-wrap{
		max-width: 100%
	}
	#wnav {
	    height: auto;
	}
	#wnav nav {
		display: inline;
	    height: 100%
	}
	#wnav nav li {
		display: inline;
		width: 100%;
	    height: 56px;
	    position: static;
	    float: none;
	}
	#wnav nav li a {
		height: 56px;
		padding: 0 16px;
	    width: 100%;
	    max-width: calc(100% - 32px);
	}
    #wnav {
        position: absolute;
        left: 0;
        top: -642px;
    }
}