#wcontent{
	width: 100%
}

#wcontent #wpag {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}

#wcontent #wpag h4,
#wcontent #wpag span {
	@mixin font-design 500, 12px, 13px, 24px
} 

#wcontent #wpag span {
	padding: 0 2px
}

#wcontent #wpag .t-subpage {
	color: var(--bg-basecolor)
}

#wcontent #wfind {
	width: 100%;
	min-height: 24px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row
}

#wcontent #wfind h4 {
	@mixin font-design 500, 13px, 14px, 18px
}

#wcontent #wfind form {
	padding-left: 16px
}

#wcontent #wfind form select {
	background-color: #E6E6E6;
	width: 120px;
	height: 28px
}

#wcontent #wpdfs {
	width: 100%;
	display: flex;
	flex-wrap: wrap
}

#wcontent #wpdfs .wpdf {
	width: calc(50% - 64px);
	height: auto;
	min-height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #E8E8E8;
	margin: 16px;
	border-radius: 2px
}

#wpdfs .wpdf .pull-left {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%
}

#wpdfs .wpdf .pull-left .pdf-icon {
	width: 48px;
	height: 48px;
	margin-right: 16px
}

#wpdfs .wpdf .pull-left .pdf-info .pdf-title {
	@mixin font-design 500, 13px, 14px, 16px
} 

#wpdfs .wpdf .pull-left .pdf-info .pdf-date {
	margin-top: 4px;
	@mixin font-design 400, 12px, 13px, 16px
} 

#wpdfs .wpdf .pdf-button {
	margin-left: 8px
}

#wpdfs .wpdf .pdf-button button {
	background-color: var(--bg-basecolor);
	min-width: 84px;
	border-radius: 2px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	padding: 8px
}

#wpdfs .wpdf .pdf-button button:hover {
	background-color: var(--bg-hovercolor)
}

#wpdfs .wpdf .pdf-button .icon {
	width: 24px;
	height: 24px;
	margin-right: 4px
}

#wpdfs .wpdf .pdf-button p {
	color: #FFF;
	@mixin font-design 500, 13px, 14px, 16px
}

@media (--cellphone) {
	#wcontent #wpdfs .wpdf {
		width: calc(100% - 64px);
		flex-direction: column;
		height: auto;
		margin: 16px 0;
	}
	#wpdfs .wpdf .pdf-button {
		width: 100%;
		margin-left: 0
	}
	#wpdfs .wpdf .pdf-button button {
		width: 100%;
		margin-top: 16px;
		padding: 4px 8px
	}
}