#wcontent {
	display: flex;
	flex-wrap: wrap
}

#wcontent #warea,
#wcontent #wcentro {
	width: calc(50% - 32px)
}

#wcontent .space-img {
	width: 100%;
	height: 160px;
	margin-bottom: 16px
}

#wcontent .wtitle {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 16px
}

#wcontent .wtitle h3{
	font-size: 17px;
	font-weight: 600;
	line-height: 26px
}

#wcontent .wtitle .u-icon-16{
	padding-right: 8px
}

#wcontent .text {
	font-size: 14px;
	font-weight: 500px;
	line-height: 26px;
	text-align: justify
}

@media (max-width: 1023px) {
	#wcontent #warea,
	#wcontent #wcentro {
		width: calc(100% - 32px)
	}	
}