#wmetero .title{
    font-size: 17px;
	font-weight: 600;
	line-height: 28px
}

#wmetero .sub-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px
}

#wmetero #wimg{
    margin-top: 16px;
    width: 100%;
    height: 92vh;
    max-height: 720px;
    min-height: 480px
}