#wcontent,
#wcontent #wmap-puerto {
	width: 100%;
	height: 100%
}

#wmap-puerto #map-puerto #map-content {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1
}

#wmap-puerto #map-puerto #map-content {
	position: relative;
	width: 100%;
	height: 82vh;
	min-height: 640px;
	max-height: 720px
}

.wshadow {
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%
}

#wmap-puerto #map-puerto #map-content > a {
	position: absolute;
	top: 16px;
	left: 16px
}

#wmap-puerto #map-puerto #map-modal {
	display: none
}

#wmap-puerto #map-puerto #modal {
	position: absolute;
	top: 16px;
	left: calc(100% - 336px);
	z-index: 1000
}

#wmap-puerto #map-puerto #modal #wmodal {
	background-color: #FFF;
	border-radius: 4px;
	border: 1px solid #EEEE;
	min-width: 288px;
	max-width: 288px;
	height: auto
}

#wmap-puerto #map-puerto #modal .modal-close {
	position: absolute;
	left: calc(100% - 24px);
	top: -8px
}

#modal #wmodal .modal-warning {
	margin-top: 16px;
	border-radius: 2px;
	padding: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--bg-basecolor)
}

#modal #wmodal .modal-warning .u-icon {
	margin-right: 16px;
}

#modal #wmodal .modal-warning .text {
	font-size: 13px;
	font-weight: 500;
	line-height: 16px;
	color: #FFF;
	text-align: left;
}

#map-puerto {
	width: 100%;
	height: 100%;
	position: relative
}

#map-puerto #map-tabs {
	position: absolute;
	display: none;
	z-index: 2;
	margin: 0 16px 0 0;
	top: calc(100% - 302px);
	width: calc(100% - 368px);
	height: 100%;
	max-height: 242px;
	background-color: #F4F4F4;
}

#map-puerto #map-tabs .tabs-close {
	position: absolute;
	left: calc(100% - 36px);
	top: 4px
}

@media (max-width: 920px){
	#map-puerto #map-tabs .tabs-close {
		display: none
	}
}

#map-puerto #map-tabs .tabs {
	display: flex;
	height: 100%;
	max-height: 264px;
	flex-wrap: wrap
}

#map-puerto #map-tabs .tabs label {
	order: 1;
	display: block;
	padding: 10px 20px;
	cursor: pointer;
	background-color: #F4F4F4;
	@mixin font-design 400, 12px, 13px, 24px;
	-webkit-transition: background ease 0.2s;
    transition: background ease 0.2s
}

#map-puerto #map-tabs .tabs .tab {
	order: 99;
	flex-grow: 1;
	width: 100%;
	height: 100%;
	display: none;
	background-color: #FFF;
	padding: 8px;
	line-height: 24px
}

#map-puerto #map-tabs .tabs input[type="radio"] {
  position: absolute;
  opacity: 0;
}
#map-puerto #map-tabs .tabs input[type="radio"]:checked + label { background: #fafafa; }
#map-puerto #map-tabs .tabs input[type="radio"]:checked + label + .tab { display: block; }


@media (max-width:  920px){
	#wmap-puerto #map-puerto #map-content {
		min-height: 560px;
		max-height: 640px;
	}
	#map-puerto #map-tabs {
		position: static;
		margin-top: 16px;
		margin-left: 0;
		height: 100%;
		width: 100%;
		min-height: 320px;
		max-height: 100%
	}
	#map-puerto #map-tabs .tabs {
		max-height: 100%;
		border: 2px solid #F4F4F4
	}
	#map-puerto #map-tabs .tabs .tab {
		height: 100%;
		min-height: 288px;
		max-height: 288px
	}
}

@media(--cellphone){
	#wmodal .modal-search .modal-form {
		width: 100%
	}
	#wcontent #wmap-puerto.u-box {
		padding: 0;
		width: 100%
	}
	#wmap-puerto #map-puerto #modal {
		left: 50%;
    	top: 50%;
    	transform: translate(-50%, -50%);
	}
	#wmap-puerto #map-puerto #modal #wmodal {
		min-width: 264px;
		max-width: 264px;
	}
	#wmap-puerto #map-puerto #modal .modal-close {
		left: 272px;
		top: -8px
	}
}

@media (max-width: 45em) {
	#map-puerto #map-tabs .tabs .tab,  #map-puerto #map-tabs .tabs label {
	  order: initial
	}
	#map-puerto #map-tabs .tabs label {
	  width: 100%;
	  margin-right: 0;
	  margin-top: 0.2rem;
	}
}