#wcontent #wsituacion {
	width: calc(40% - 32px)
}

#wcontent #wmap {
	width: calc(60% - 32px)
}

#wmap #map{
	width: 100%;
	height: 560px
}

#wmap #map #map-modal {
	display: none
}

#wmap #map {
	position: relative
}

.wshadow {
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%
}

#wmap #map #map-content {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%
}

#wmap #map #map-content > a {
	position: absolute;
	top: 16px;
	left: 16px
}

#wmap #map #modal {
	position: absolute;
	top: 16px;
	left: calc(100% - 336px);
	z-index: 3
}

#wmap #map #modal #wmodal {
	background-color: #FFF;
	border-radius: 4px;
	border: 1px solid #EEEE;
	min-width: 288px;
	max-width: 288px;
	height: auto
}

#wmap #map #modal .modal-close {
	position: absolute;
	left: calc(100% - 24px);
	top: -8px
}

#wmodal .modal-title {
	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
	letter-spacing: -0.1px
}

#wmodal .modal-info {
	margin: 16px 0;
	display: flex
}

#wmodal .modal-info > div{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center
}

#modal #wmodal #warea,
#modal #wmodal #wdate {
	width: 50%
}

#wmodal .modal-info .u-icon {
	margin-bottom: 8px
}

#wmodal .modal-info h4 {
	@mixin font-design 600, 14px, 15px, 20px;
	color: #1c3f81
}

#wmodal .modal-info h5 {
	@mixin font-design 600, 12px, 13px, 18px;
	color: #1c3f81;
	opacity: .5
}

#wmodal .modal-text {
	max-height: 200px;
	overflow-y: scroll;
}

#wmodal .modal-text p {
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	text-align: justify-all;
}

#wmodal .modal-search {
	display: flex;
	flex-direction: row;
	margin-bottom: 16px
}

#wmodal .modal-search .modal-form {
	background-color: rgba(8,8,8,0.1);
	height: 32px;
	width: 100%;
	max-width: calc(100% - 48px);
	min-width: calc(100% - 48px);
	display: flex;
	flex-direction: row;
	align-content: center;
	margin-right: 12px
}

#wmodal .modal-search .modal-form .u-icon-16{
	padding-left: 8px
}

#wmodal .modal-search .modal-form form{
	padding: 8px;
	width: calc(100% - 28px)
}

#wmodal .modal-search .modal-form form input{
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	width: 100%
}

@media(--cellphone){
	#wmodal .modal-search .modal-form {
		width: 100%
	}
	#wcontent #wmap.u-box {
		padding: 0;
		width: 100%
	}
	#wmap #map #modal {
		left: 50%;
    	top: 50%;
    	transform: translate(-50%, -50%);
	}
	#wmap #map #modal #wmodal {
		min-width: 264px;
		max-width: 264px;
	}
	#wmap #map #modal .modal-close {
		left: 272px;
		top: -8px
	}
}

@media (max-width: 1279px) {
	#wcontent #wsituacion {
		width: calc(100% - 32px)
	}

	#wcontent #wmap {
		width: calc(100% - 32px)
	}

	#wcontent #wmap #map {
		height: 90vh;
		min-height: 480px
	}
}