:root {
	/*BackGrounds*/
	--bg-basecolor: #d86838;
	--bg-hovercolor: #b85a31;
	--bg-dark: #272727;
	--bg-dark-o: #989898;
	--bg-menu: #144B7E;
	--bg-submenu: #103C64;
	--bg-hovercolor-menu: #0C2D4B;
	--bg-hovercolor-submenu: #081E33;

	/*Colors*/
	--cl-linkcolor: #d86838;
	--cl-txtcolor: #333;
	--cl-headdingcolor: #343434;

	/*Line Height*/
	--line: 22px;
}

/*Media Queries*/
@custom-media --cellphone (max-width: 767px);
@custom-media --tablet (min-width: 768px) and (max-width: 991px);
@custom-media --small-desktop (min-width: 992px) and (max-width: 1024px);
@custom-media --t-s (min-width: 768px) and (max-width: 1024px);
@custom-media --c-s (min-width: 320px) and (max-width: 1024px);
@custom-media --tablet-f (min-width: 768px);
@custom-media --tablet-t (max-width: 991px)